<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pcncad.campusRecruit"
    android:versionCode="3"
    android:versionName="0.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.campusrecruit.app.AppContext"
        android:allowBackup="true"
        android:debuggable="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.campusrecruit.activity.StartActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.campusrecruit.activity.TutorialActivity"
            android:icon="@drawable/ic_main"
            android:label="@string/title_activity" >
        </activity>
        <activity
            android:name="com.campusrecruit.activity.MainActivity"
            android:icon="@drawable/ic_main"
            android:label="@string/title_activity" >
        </activity>
        <activity
            android:name="com.campusrecruit.activity.RecommendActivity"
            android:icon="@drawable/ic_main"
            android:label="@string/title_activity" >
        </activity>
        <activity
            android:name="com.campusrecruit.activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="stateVisible|adjustPan" >
        </activity>
        <activity
            android:name="com.campusrecruit.activity.LoginDialogActivity"
            android:label="@string/title_activity"
            android:theme="@style/Theme.HalfTranslucent" >
        </activity>
        <activity
            android:name="com.campusrecruit.activity.UserInfoActivity"
            android:icon="@drawable/ic_main"
            android:label="@string/title_activity" >
        </activity>
        <activity
            android:name="com.campusrecruit.activity.UserSettingActivity"
            android:icon="@drawable/ic_main"
            android:label="@string/title_activity" >
        </activity>
        <activity
            android:name="com.campusrecruit.activity.RegisterActivity"
            android:icon="@drawable/ic_main"
            android:label="@string/title_activity_register"
            android:windowSoftInputMode="stateVisible|adjustPan" >
        </activity>
        <activity
            android:name="com.campusrecruit.activity.UserReplyActivity"
            android:icon="@drawable/ic_main"
            android:label="@string/title_activity" >
        </activity>
        <activity
            android:name="com.campusrecruit.activity.ProvinceActivity"
            android:icon="@drawable/ic_main"
            android:label="@string/title_province" >
        </activity>
        <activity
            android:name="com.campusrecruit.activity.CompanyTypeActivity"
            android:icon="@drawable/ic_main"
            android:label="@string/title_company_property" >
        </activity>
        <activity
            android:name="com.campusrecruit.activity.DataSourcesActivity"
            android:icon="@drawable/ic_main"
            android:label="@string/title_data_source" >
        </activity>
        <activity
            android:name="com.campusrecruit.activity.SchoolMultipleActivity"
            android:icon="@drawable/ic_main"
            android:label="@string/title_school" >
        </activity>
        <activity
            android:name="com.campusrecruit.activity.SchoolActivity"
            android:icon="@drawable/ic_main"
            android:label="@string/title_school" >
        </activity>
        <activity
            android:name="com.campusrecruit.activity.MajorActivity"
            android:icon="@drawable/ic_main"
            android:label="@string/title_major" >
        </activity>
        <activity
            android:name="com.campusrecruit.activity.RadioAlarmSelectActivity"
            android:icon="@drawable/ic_main"
            android:label="@string/title_alarm_time" >
        </activity>
        <activity
            android:name="com.campusrecruit.activity.CompanyIndustryActivity"
            android:icon="@drawable/ic_main"
            android:label="@string/title_company_industry" >
        </activity>
        <activity
            android:name="com.campusrecruit.activity.BBSTopicListActivity"
            android:icon="@drawable/ic_main"
            android:label="@string/title_activity" >
        </activity>
        <activity
            android:name="com.campusrecruit.activity.TopicDetailActivity"
            android:icon="@drawable/ic_main"
            android:label="@string/title_activity" >
        </activity>
        <activity
            android:name="com.campusrecruit.activity.CommentPubActivity"
            android:icon="@drawable/ic_main"
            android:label="@string/title_activity" >
        </activity>
        <activity
            android:name="com.campusrecruit.activity.RecruitDetailTabActivity"
            android:icon="@drawable/ic_main"
            android:label="@string/title_activity" >
        </activity>
        <activity
            android:name="com.campusrecruit.activity.RecruitSimpleDetailActivity"
            android:icon="@drawable/ic_main"
            android:label="@string/title_activity" >
        </activity>
        <activity
            android:name="com.campusrecruit.activity.CareerTalkDetailActivity"
            android:icon="@drawable/ic_main"
            android:label="@string/title_activity" >
        </activity>
        <activity
            android:name="com.campusrecruit.activity.TopicPubActivity"
            android:icon="@drawable/ic_main"
            android:label="@string/title_activity" >
        </activity>
        <activity
            android:name="com.campusrecruit.activity.PreferenceActivity"
            android:icon="@drawable/ic_main"
            android:label="@string/title_activity" >
        </activity>
        <activity
            android:name="com.campusrecruit.activity.RecommendsActivity"
            android:icon="@drawable/ic_main"
            android:label="@string/title_activity" >
        </activity>
        <activity
            android:name="com.campusrecruit.activity.ScheduleActivity"
            android:icon="@drawable/ic_main"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name="com.campusrecruit.activity.UserFavroateActivity"
            android:icon="@drawable/ic_main"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name="com.campusrecruit.activity.DailyActivity"
            android:icon="@drawable/ic_main"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name="com.campusrecruit.activity.PrivateMessageActivity"
            android:icon="@drawable/ic_main"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name="com.campusrecruit.activity.PrivateMessageListActivity"
            android:icon="@drawable/ic_main"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name="com.campusrecruit.activity.TutorialHintActivity"
            android:icon="@drawable/ic_main"
            android:label="@string/title_activity_test"
            android:theme="@style/Theme.HalfTranslucent" >
        </activity>

        <receiver android:name="com.campusrecruit.common.BroadCast" >
            <intent-filter>
                <action android:name="com.campusRecruit.action.NOTICE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.campusrecruit.common.ScheduleAlarmBroadcastReceiver" >
            <intent-filter>
                <action android:name="com.campusRecruit.action.SCHEDULE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.campusrecruit.common.AlarmSetter"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!--
             <receiver android:name="com.campusrecruit.common.ShutDownReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>
        -->
    </application>

</manifest>